*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    

font-family: 'Poppins', sans-serif;

}
/* first part */
p{
    color: #3A3A3A;
}
.containarr{
max-width: 1200px;
margin-top: 100px;
margin-right: 50px;
padding: 0 30px;

}
nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
}
.navigation{
    display: flex;
    
}
.navigation li{
    list-style: none;
    margin: 10px;
    

}
.navigation li a{
    text-decoration: none;
    
    font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
font-feature-settings: 'liga' off;

color: #3A3A3A;
}
.top-heading{
    margin-left: 50px;
    color: #3A3A3A;
    
}


.start{

    
    display: flex;
    align-items: center;

}
.txt{
    color: #3A3A3A;
}
.half-width p{
    margin: 20px 0px;
    color: #3A3A3A;
}
.half-width{
    
width: 50%;

padding-left: 10%;
margin-top: 5%;


}
.half-width img{
    margin-left: 50px;
    


    
}
.half-width h1{
    font-style: normal;
font-weight: bold;
font-size: 52px;
line-height: 70px;
}
.link_button{
    display:inline-flex;
    align-items: center;
    text-decoration: none;
    background: #E02C6D;
    
    color: white;
    font-weight: 900;
    padding: 10px 30px;
    border-radius: 41px;
    margin-top: 50px;
}
i{
    position: relative;
    top: 1px;
    left: 5px;
}

/* second part  */
.containar{
    max-width: 1170px;
    margin: auto;
}
.containar h1{
    text-align: center;
    margin-bottom: 50px;
    color: #3A3A3A;
}
.grid-containar{
    max-width: 1170px;

    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    
}
.grid-cell{

    margin: 20px;
}
.number{
    display: inline-block;
    margin-left: 10px;
}
/* reation grid */

.row{
display: grid;
grid-template-columns: repeat(3,1fr);
margin-left: 100px;
}



/* 3rd part------ */
.place{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-around;
    padding: 100px 0px;
    
}
.place-item{
    width: 45%;
    
    
}
.place-item img{
     width: 100%;
    border-radius: 20px; 
    
}
footer{
    background-color: rgb(10,8,38);
}
.foooter-part{
    color: white;
    
    text-align: center;
    margin-bottom: 50px;
}
.connect-us{
    text-align: center;
color: lightcyan;
margin: 0 auto;


}
